@import 'main';

:global {
  .socketStatusSlide-enter {
    opacity: 0;
    transform: translate(100%);
  }
  .socketStatusSlide-enter.socketStatusSlide-enter-active {
    opacity: 1;
    transform: translate(0%);
    transition: all $fast ease-in-out;
  }
  .socketStatusSlide-leave {
    opacity: 1;
    transform: translate(0%);
  }
  .socketStatusSlide-leave.socketStatusSlide-leave-active {
    opacity: 0;
    transform: translate(100%);
    transition: all $fast ease-in-out;
  }
}

.popUp {
  @extend %clair-text;

  padding: 15px;
  position: fixed;
  right: 15px;
  top: 60px;
  width: 250px;
  z-index: 999999;
}

.popUpAlert {
  background-color: $clair-danger;
  color: $clair-light;
}

.popUpWarning {
  background-color: $clair-primary;
  color: $clair-light;
}