@import 'main';

.item {
  margin-bottom: 6px;
  
  > button {
    @extend %clair-text;
  }
}

.itemName {
  font-size: rem(14px);
  line-height: rem(18px);
}

.itemMessage {
  font-size: rem(16px);
  line-height: rem(21px);
}

.itemCreated {
  text-align: right;
}

.itemActions {
  display: inline-block;
  width: 120px;

  button {
    float: right;
    font-size: rem(18px);
    opacity: 0;
  }
}
