@import 'main';
@import 'normalize.css';

$fa-font-path: 'assets/fonts';

:global {
  @import 'assets/font-awesome/font-awesome.scss';
}
@import 'assets/font-awesome/font-awesome.scss';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: auto;
}

p {
  @extend %p;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
  color: $clair-smoke;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

button {
  // Not sure why the normalizer remove this
  cursor: pointer;
}

